<div class="home">
    <section class="main-banner"></section>
    <section class="row mx-0 block-3 text-center p-4">
        <div class="col-sm-4 block">
            <img src="../../../assets/img/ship.png" alt="ship" />
            <span>SAME DAY DELIVERY, CLICK & COLLECT</span>
        </div>
        <div class="col-sm-4 block">
            <img src="../../../assets/img/rose.png" alt="ship" />
            <span>FRESH FLOWERS, LOCAL GROWERS</span>
        </div>
        <div class="col-sm-4 block">
            <img src="../../../assets/img/pay.png" alt="ship" />
            <span>PAY WITH AFTERPAY</span>
        </div>
    </section>
    <section class="most-popular p-4 pt-5">
        <div class="most-popular-container">
            <h2 class="text-center mb-5 title">SHOP THE MOST POPULAR</h2>
            <div class="row g-4">
                <div class="col-sm-6 col-lg-4 pt-0 sub-banner">
                    <div class="content">
                        <img src="../../../assets/img/rosewood.png" alt="vase1" class="content-img" />
                        <div class="sub-banner-overlay">
                            <div class="sub-banner-info">Rosewood</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pt-0 sub-banner">
                    <div class="content">
                        <img src="../../../assets/img/elegant.png" alt="vase1" />
                        <div class="sub-banner-overlay">
                            <div class="sub-banner-info">Elegant</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pt-0 sub-banner">
                    <div class="content">
                        <img src="../../../assets/img/brightbold.png" alt="vase1" />
                        <div class="sub-banner-overlay">
                            <div class="sub-banner-info">Bright & Bold</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pt-0 sub-banner">
                    <div class="content">
                        <img src="../../../assets/img/pastel.png" alt="vase1" />
                        <div class="sub-banner-overlay">
                            <div class="sub-banner-info">Pastel</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pt-0 sub-banner">
                    <div class="content">
                        <img src="../../../assets/img/redroses.png" alt="vase1" />
                        <div class="sub-banner-overlay">
                            <div class="sub-banner-info">Red roses</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pt-0 sub-banner">
                    <div class="content">
                        <img src="../../../assets/img/sculptural.png" alt="vase1" />
                        <div class="sub-banner-overlay">
                            <div class="sub-banner-info">Sculptural</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partner mt-5">
        <div class="text-center partner-wrapper">
            <h3>Client & Partners</h3>
            <div class="clients-logo">
                <a href="#"><img
                        src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/SWEATY-BETTY-PR-BLACK.png?v=1603344255"
                        alt="" /></a>
                <a href="#"><img src="	https://cdn.shopify.com/s/files/1/0245/2632/3786/files/pierone.png?17040"
                        alt="" /></a>
                <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/opera.png?17040"
                        alt="" /></a>
                <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/aco.png?17040"
                        alt="" /></a>
                <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/smack.png?17040"
                        alt="" /></a>
                <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/divine.png?17040"
                        alt="" /></a>
            </div>
        </div>
    </section>
    <section class="info mt-5 text-center">
        <h2 class="mb-2 text-uppercase title">Poho Flowers - Sydney Florists</h2><br>
        <div class="content">
            <p>
                Poho Flowers is a Potts Point institution and&nbsp;florist industry leader, providing the local
                community
                and Sydney at large with contemporary floral arrangements for home, office, weddings and events.
            </p>
            <p>
                Our unique contemporary arrangements are available through our Potts Point floral store and via our
                online
                shop, delivering Sydney wide. Sourcing the freshest flowers from our local growers and further afield
                our
                experienced, innovative and creative team bring their diverse set of skills and experience to each
                brief,
                bouquet and occasion.
            </p>
        </div>
        <h5>Follow<span> @pohoflowers</span></h5>
    </section>
    <section class="subscribe">
        <h2 class="mb-5 text-uppercase text-center">SUBSCRIBE TO OUR NEWSLETTER</h2>
        <p class="text-center">
            Subscribe to the Poho newsletter and stay up to date on the freshest seasonal flowers, our local
            collaborations with flower growers, and any new products that we can deliver to you at the best price. POHO
            Flowers prides itself on delivering beautiful and unique flowers for your special events, weddings, and home
            and office occasions.
        </p>
        <form [formGroup]="subscribeForm" class="action mt-5" (ngSubmit)="handleSubscribe(subscribeForm.value)">
            <input 
                class="form-control subcribe-email"
                [ngClass]="{'error': !hideError && subscribeForm.controls['email'].invalid && (subscribeForm.controls['email'].dirty || subscribeForm.controls['email'].touched)}"
                type="email" 
                formControlName="email"
                required 
                (blur)="handleChannge()"/>
            <div *ngIf="!hideError && subscribeForm.controls['email'].invalid && (subscribeForm.controls['email'].dirty || subscribeForm.controls['email'].touched)"
                class="err-msg">
                <div *ngIf="subscribeForm.controls['email'].errors.required">
                    This field is required.
                </div>
                <div *ngIf="subscribeForm.controls?.['email'].errors.email">
                    Please enter a valid email address.
                </div>
            </div>
            <button class="btn-subscribe mt-3" [disabled]="subscribeForm.invalid">Subcribe</button>
        </form>
    </section>
    <app-contact></app-contact>
</div>