<div class="products">
    <div class="products-page-container">
        <div class="row mx-0 search-container">
            <div class="col-sm-6 result">
                <p>Showing <span class="number color-black">1–50</span> of <span class="number color-black">{{products && products.length}}</span> results</p>
            </div>
            <div class="col-sm-6">
                <div class="toolbar-right">
                    <div>
                        <img src="../../../assets/img/sparegrid.png" alt="spare_grid" title="Grid view" (click)="gridview = true" class="btn-grid-view"/>
                        <img src="../../../assets/img/rowgrid.png" alt="row_grid" title="List view" (click)="gridview = false"/>
                    </div>
                    <div class="filter" (click)="handleShowFilterList()">
                        <span>Filter</span>
                        <fa-icon [icon]="faChevronDown" size="xs" class="icons"></fa-icon>
                    </div>
                    <div class="sort">
                        <span>Sort By</span>
                        <fa-icon [icon]="faChevronDown" size="xs" class="icons"></fa-icon>
                        <ul class="sort-list">
                            <li>Alphabetically, A-Z</li>
                            <li>Alphabetically, Z-A</li>
                            <li>Price, low to high</li>
                            <li>Price, high to low</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-dropdown-container clearfix mb-4"
            [ngClass]="{'display-block': showFilterList, 'active': showFilterList}" #filterDropdown>
            <h4>Categories</h4>
            <ul>
                <li>Arrangements <span class="number">(11)</span></li>
                <li>Bundles <span class="number">(11)</span></li>
                <li>Flowers & Plants <span class="number">(11)</span></li>
                <li>Gifts <span class="number">(11)</span></li>
                <li>Plants <span class="number">(11)</span></li>
                <li>Workshops <span class="number">(11)</span></li>
            </ul>
        </div>
        <div class="list" #listCard>
            <div *ngIf="products" class="row g-4">
                <!-- CASE GRID VIEW -->
                <ng-template [ngIf]="gridview">
                    <div *ngFor="let product of products; index as i" class="col-sm-6 col-lg-4 pt-0 product" #card>
                        <div class="content">
                            <div class="image-wrapper">
                                <img [src]="productHover && i == positionHover ? product.gallery[product.gallery.length - 1] : product.gallery[0]" 
                                    alt={{product.name}} class="content-img" 
                                    (click)="showDetail(product)"
                                    (mouseenter)="mouseEnterImage(i)"
                                    (mouseleave)="mouseLeaveImage(i)" />
                                <div class="circle-eye"
                                    (mouseenter)="circleEyeHover = true"
                                    (mouseleave)="circleEyeHover = false">
                                    <img [src]="circleEyeHover ? whiteEye : blackEye" class="icon"/>
                                </div>
                            </div>
                            <div class="short-info">
                                <h2 (click)="showDetail(product)">{{product.name}}</h2>
                                <p *ngIf="product.sizeprice && product.sizeprice.length > 1">
                                    $<span class="number">
                                        {{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[0].price : 0}}
                                    </span>-
                                    $<span class="number">
                                        {{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[product.sizeprice.length - 1].price : 0}}
                                    </span>
                                </p>
                                <p *ngIf="product.sizeprice && product.sizeprice.length <= 1">
                                    $<span class="number">
                                        {{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[0].price : 0}}
                                    </span>
                                </p>
                            </div>
                           
                        </div>
                    </div>
                </ng-template>
                
                <!-- CASE LIST VIEW -->
                <ng-template [ngIf]="!gridview">
                    <div *ngFor="let product of products; index as i" class="product-list-view mb-4" #card>
                        <div class="image-wrapper">
                            <img [src]="productHover && i == positionHover ? product.gallery[product.gallery.length - 1] : product.gallery[0]" 
                                alt={{product.name}} class="content-img" 
                                (click)="showDetail(product)"
                                (mouseenter)="mouseEnterImage(i)"
                                (mouseleave)="mouseLeaveImage(i)" />
                            <div class="circle-eye"
                                (mouseenter)="circleEyeHover = true"
                                (mouseleave)="circleEyeHover = false">
                                <img [src]="circleEyeHover ? whiteEye : blackEye" class="icon"/>
                            </div>
                        </div>
                        <div class="long-info">
                            <h2>{{product.name}}</h2>
                            <p *ngIf="product.sizeprice && product.sizeprice.length > 1">
                                <span class="number">
                                    ${{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[0].price : 0}}-
                                    ${{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[product.sizeprice.length - 1].price : 0}}
                                </span>
                            </p>
                            <p *ngIf="product.sizeprice && product.sizeprice.length <= 1">
                                <span class="number">
                                    ${{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[0].price : 0}}
                                </span>
                            </p>
                            <p *ngIf="!mobileScreen; else desOnMobile" class="description">
                                {{product.description && product.description.length > 350 ? product.description.slice(0, 350) + '...' : product.description}}
                            </p>
                            <ng-template #desOnMobile>
                                <p class="description">
                                    {{product.description && product.description.length > 100 ? product.description.slice(0, 100) + '...' : product.description}}
                                </p>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>