<div class="products">
    <div class="products-page-container">
        <div class="row mx-0 search-container">
            <div class="col-sm-6 result">
                <p>Showing 1–50 of 32 results</p>
            </div>
            <div class="col-sm-6">
                <div class="toolbar-right">
                    <div>
                        <img src="../../../assets/img/sparegrid.png" alt="spare_grid" title="Grid view" />
                        <img src="../../../assets/img/rowgrid.png" alt="row_grid" title="List view" />
                    </div>
                    <div class="filter" (click)="handleShowFilterList()">
                        <span>Filter</span>
                        <fa-icon [icon]="faChevronDown" size="xs"class="icons"></fa-icon>
                    </div>
                    <div class="sort">
                        <span>Sort By</span>
                        <fa-icon [icon]="faChevronDown" size="xs" class="icons"></fa-icon>
                        <ul class="sort-list">
                            <li>Alphabetically, A-Z</li>
                            <li>Alphabetically, Z-A</li>
                            <li>Price, low to high</li>
                            <li>Price, high to low</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-dropdown-container mb-5" [class.display-block]="showFilterList">
            <h4>Categories</h4>
            <ul>
                <li>Arrangements <span class="number">(11)</span></li>
                <li>Bundles <span class="number">(11)</span></li>
                <li>Flowers & Plants <span class="number">(11)</span></li>
                <li>Gifts <span class="number">(11)</span></li>
                <li>Plants <span class="number">(11)</span></li>
                <li>Workshops <span class="number">(11)</span></li>
            </ul>
        </div>
        <div class="list" #listCard>
            <div *ngIf="products" class="row g-4">
                <div *ngFor="let product of products" class="col-sm-6 col-lg-4 pt-0 product" #card>
                    <div class="content">
                        <img src={{product.gallery[0]}} alt="vase1" class="content-img" />
                        <div class="short-info">
                            <h2>{{product.name}}</h2>
                            <p>
                                $<span class="number">{{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[0].price : 0}}</span>-
                                $<span class="number">{{product.sizeprice && product.sizeprice.length > 0 ? product.sizeprice[4].price : 0}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>