<div class="header p-0">
  <div class="first-header">
    <div class="row mx-0 header-wrapper">
      <div class="col-sm-6 col-lg-7 text-uppercase">
        Potts Point & Double Bay
      </div>
      <div class="col-sm-6 col-lg-5">
        <div class="header-info text-uppercase">
          <a routerLink="/login"><fa-icon [icon]="faUserAlt" class="header-icon">&nbsp;</fa-icon>Login</a>
          <a href="#"><fa-icon [icon]="faUserPlus" class="header-icon"></fa-icon>register</a>
          <a href="tel:+61293314333"><fa-icon [icon]="faPhoneVolume" class="header-icon"></fa-icon>(02) 9331 4333</a>
        </div>
      </div>
    </div>
    <div class="container-full">
      <div class="header-logo">
        <a href="/"><img src="../../../assets/img/logo.png" alt="logo" /></a>
      </div>
      <div class="menu text-uppercase pb-2">
        <ul class="main-menu">
          <li>
            <a href="#">About</a>
            <ul id="sub-menu">
              <li><a href="#">Our story</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Shop</a>
            <ul id="sub-menu">
              <li><a href="#">Flowers</a></li>
              <li><a href="#">Plants</a></li>
              <li><a href="#">Gifts</a></li>
            </ul>
          </li>
          <li><a href="#">Wedding</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Corporate</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <div class="cart-wrapper">
          <a routerLink="/login"><fa-icon [icon]="faUserAlt" class="header-icon">&nbsp;</fa-icon></a>
          <a href="#"><fa-icon [icon]="faShoppingBag" class="header-icon"></fa-icon></a>
          <span class="cart-quantity">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="second-header">
    <div class="row mx-0 head">
      <div class="col-6 header-logo ">
        <a href="/"><img src="../../../assets/img/logo.png" alt="logo" /></a>
      </div>
      <div class="col-6 features">
        <div class="list text-right">
          <a href="#"><fa-icon [icon]="faPhone" class="header-icon"></fa-icon></a>
          <a routerLink="/login"><fa-icon [icon]="faUserAlt" class="header-icon"></fa-icon></a>
          <a class="item cart"><img src="../../../assets/img/cart.png" alt="cart"></a>
          <span class="cart-quantity">0</span>
          <a href="#" class="item" (click)="showMenu()"><img src="../../../assets/img/menulist.png" alt="menu"></a>
        </div>
      </div>
    </div>
    <div class="list-menu" #listMenu [style.height.px]="menuHeight">
      <ul class="main-menu" #mainMenu>
        <li (click)="handleShowSubmenu('about')">
          <a href="#">About</a>
          <fa-icon *ngIf="!showAbout" [icon]="faChevronRight" class="header-icon"></fa-icon>
          <fa-icon *ngIf="showAbout" [icon]="faChevronDown" class="header-icon"></fa-icon>
        </li>
        <li *ngIf="showAbout" class="sub-menu"><a href="#">Our story</a></li>
        <li (click)="handleShowSubmenu('shop')">
          <a href="#">Shop</a>
          <fa-icon *ngIf="!showShop" [icon]="faChevronRight" class="header-icon"></fa-icon>
          <fa-icon *ngIf="showShop" [icon]="faChevronDown" class="header-icon"></fa-icon>
        </li>
        <ng-container *ngIf="showShop" class="test">
          <li class="sub-menu"><a href="#">Flowers</a></li>
          <li class="sub-menu"><a href="#">Plants</a></li>
          <li class="sub-menu"><a href="#">Gifts</a></li>
        </ng-container>
        <li><a href="#">Wedding</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Corporate</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>