<div class="header p-0">
  <div class="first-header">
    <div class="row mx-0 header-wrapper">
      <div class="col-sm-4 col-lg-7 text-uppercase">
        Potts Point & Double Bay
      </div>
      <div class="col-sm-8 col-lg-5">
        <div class="header-info">
          <div *ngIf="!isUserLogin; else login" class="text-uppercase">
            <a routerLink="/account/login"><fa-icon [icon]="faUserAlt" class="header-icon">&nbsp;</fa-icon>Login</a>
            <a href="#"><fa-icon [icon]="faUserPlus" class="header-icon"></fa-icon>register</a>
          </div>
          <ng-template #login>
            <div>
              <a routerLink="/account/login">Welcome, {{user? user.firstname : ''}} {{user? user.lastname : ''}}</a>
            </div>
          </ng-template>
          <div class="text-uppercase">
            <a href="tel:+61293314333">
              <fa-icon [icon]="faPhoneVolume" class="header-icon"></fa-icon>
              (02) 9331 4333
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-full">
      <div class="header-logo">
        <a href="/"><img src="../../../assets/img/logo.png" alt="logo" /></a>
      </div>
      <div class="menu text-uppercase pb-2">
        <ul class="main-menu">
          <li>
            <a href="#">About</a>
            <ul id="sub-menu">
              <li><a routerLink="/pages/about">Our story</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Shop</a>
            <ul id="sub-menu">
              <li><a routerLink="/collections/flowers-plants">Flowers</a></li>
              <li><a href="#">Plants</a></li>
              <li><a href="#">Gifts</a></li>
            </ul>
          </li>
          <li><a routerLink="/pages/wedding">Wedding</a></li>
          <li><a routerLink="/pages/events">Events</a></li>
          <li><a routerLink="/pages/corporate">Corporate</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <div class="cart-wrapper">
          <a *ngIf="!isUserLogin" routerLink="/account/login"><fa-icon [icon]="faUserAlt" class="header-icon">&nbsp;</fa-icon></a>
          <a href="#"><fa-icon [icon]="faUserAlt" class="header-icon">&nbsp;</fa-icon></a>
          <a href="#"><fa-icon [icon]="faShoppingBag" class="header-icon">&nbsp;</fa-icon></a>
          <span class="cart-quantity" [class.right-cart-quantity]="isUserLogin">0</span>
          <a *ngIf="isUserLogin" href="#" (click)="logout()"><fa-icon [icon]="faSignOutAlt" class="header-icon"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
  <div class="second-header">
    <div class="row mx-0 head">
      <div class="col-4 header-logo ">
        <a href="/"><img src="../../../assets/img/logo.png" alt="logo" /></a>
      </div>
      <div class="col-8 features">
        <div class="list text-right">
          <a href="#"><fa-icon [icon]="faPhone" class="header-icon"></fa-icon></a>
          <a *ngIf="!isUserLogin" routerLink="account/login"><fa-icon [icon]="faUserAlt" class="header-icon"></fa-icon></a>
          <a *ngIf="isUserLogin" href="#" class="user-icon">
            Hi, {{user ? user.firstname : ''}}
            <fa-icon [icon]="faUserAlt" class="header-icon"></fa-icon>
            <ul>
              <li>Your profile</li>
              <li (click)="logout()">Logout</li>
            </ul>
          </a>
          <a class="item cart"><img src="../../../assets/img/cart.png" alt="cart"></a>
          <span class="cart-quantity" [class.right-sh-cart-quantity]="isUserLogin">0</span>
          <a href="#" class="item" (click)="showMenu()"><img src="../../../assets/img/menulist.png" alt="menu"></a>
        </div>
      </div>
    </div>
    <div class="list-menu" #listMenu [style.height.px]="menuHeight">
      <ul class="main-menu" #mainMenu>
        <li (click)="handleShowSubmenu('about')">
          <a href="#">About</a>
          <fa-icon *ngIf="!showAbout" [icon]="faChevronRight" class="header-icon"></fa-icon>
          <fa-icon *ngIf="showAbout" [icon]="faChevronDown" class="header-icon"></fa-icon>
        </li>
        <li *ngIf="showAbout" class="sub-menu"><a routerLink="/pages/about" (click)="showMenu()">Our story</a></li>
        <li (click)="handleShowSubmenu('shop')">
          <a href="#">Shop</a>
          <fa-icon *ngIf="!showShop" [icon]="faChevronRight" class="header-icon"></fa-icon>
          <fa-icon *ngIf="showShop" [icon]="faChevronDown" class="header-icon"></fa-icon>
        </li>
        <ng-container *ngIf="showShop" class="test">
          <li class="sub-menu"><a routerLink="/collections/flowers-plants">Flowers</a></li>
          <li class="sub-menu"><a href="#">Plants</a></li>
          <li class="sub-menu"><a href="#">Gifts</a></li>
        </ng-container>
        <li><a routerLink="/pages/wedding">Wedding</a></li>
        <li><a routerLink="/pages/events">Events</a></li>
        <li><a routerLink="/pages/corporate">Corporate</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>