<section class="contact">
    <h2 class="text-uppercase text-center title">Contact Us</h2><br>
    <form class="row mx-0 content">
        <div class="col-sm-6">
            <input class="form-control mb-3 border" placeholder="Name"/>
            <input class="form-control mb-3 border" placeholder="Email"/>
            <input class="form-control mb-3 border" placeholder="Phone number"/>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control message border" placeholder="Message"></textarea>
        </div>
        <div class="text-center mt-4"><button class="btn-send">Send</button></div>
    </form>
</section>