.wedding {

    .banner {
        background-image: url('https://cdn.shopify.com/s/files/1/0245/2632/3786/files/WEDDINGBANNERPOHO_1920x.progressive.jpg');
        height: 300px;
        display: block;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section {
        padding: 5%;

        &.text {
            .title {
                font-weight: 400;
                letter-spacing: 0em;
                font-size: 30px;
                text-transform: uppercase;
            }

            .content {
                padding: 0px 30px;

                p {
                    font-size: 15.5px !important;
                    margin: 0 0 15px;
                    color: #7b7b7b;
                }
            }
        }

        &.enquiry {
            background-color: rgb(249, 249, 249);

            .alert {
                padding: 7px 0;
                font-size: 14px;
                font-weight: bold;

                div {
                    .close {
                        float: right;
                        cursor: pointer;
                        opacity: 0.2;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .alert-success {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }

            .alert-error {
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;

                p {
                    padding: 5px 0;
                }
            }

            .content {
                padding: 0 15%;

                h3 {
                    color: #262626;
                    font-size: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                }

                .enquiry-form {

                    .ln {
                        padding-right: 0;
                    }

                    input, textarea {
                        border: none;
                        background-color: inherit;
                        border-bottom: 1px solid #000;
                        border-radius: 0;
                        padding: 7px 0;
                        font-size: 14px;
                        font-weight: bold;
                        color: #333333;
                        margin-bottom: 15px;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        &::placeholder {
                            color: #333333;
                        }
                    }

                    .btn-submit {
                        padding: 10px 30px;
                        color: #fff;
                        background-color: #333333;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0.1em;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

        }

        &.description {
            background-color: rgb(249, 249, 249);
            margin: 10% 0 0;

            .content {
                p {
                    font-weight: bold;
                    font-size: 20px;
                    padding: 2% 15%;
                    text-align: center;
                    color: #262626;
                    line-height: 1.5;
                    letter-spacing: 0.05em;
                    margin: 0;
                }
            }
        }
    }
}

.margin-0 {
    margin: 0 !important;
}

.events-background-image {
    background-image: url('https://thevillagemall.co.ug/wp-content/uploads/2020/07/events2_5a3f8552-e3dd-45d5-862c-e81df3efb88b_2048x2048.jpg') !important;
}

.corporate-background-image {
    background-image: url('https://i.shgcdn.com/78791a38-633f-49b3-a5d3-f89aecce7ee9/-/format/auto/-/preview/3000x3000/-/quality/lighter/') !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 1400px) {
    .wedding {
        section {
            &.description {
                .content {
                    p {
                        padding: 0 23%;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .wedding {
        section {
            &.text {
                .content {
                    padding: 0 5%;
                }
            }

            &.enquiry {
                .content {
                    .enquiry-form {
                        .ln {
                            padding: 0 !important;
                        }
                    }
                }
            }

            &.description {
                .content {
                    p {
                        padding: 0;
                    }
                }
            }
        }
    }
}