<section class="partner mt-5">
    <div class="text-center partner-wrapper">
        <h3>Client & Partners</h3>
        <div class="clients-logo">
            <a href="#"><img
                    src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/SWEATY-BETTY-PR-BLACK.png?v=1603344255"
                    alt="" /></a>
            <a href="#"><img src="	https://cdn.shopify.com/s/files/1/0245/2632/3786/files/pierone.png?17040"
                    alt="" /></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/opera.png?17040"
                    alt="" /></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/aco.png?17040"
                    alt="" /></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/smack.png?17040"
                    alt="" /></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/divine.png?17040"
                    alt="" /></a>
        </div>
    </div>
</section>
