<div class="about">
    <div class="banner">
        <!-- <img src=""
            alt="img" /> -->
    </div>
    <section class="text-center">
        <h2 class="title mb-5">Poho Flowers</h2>
        <div class="content">
            <p>
                Poho Flowers is a Potts Point institution and flower industry leader, providing the local community and
                Sydney at large with contemporary floral arrangements for home, office, weddings and events. Our unique
                contemporary arrangements are available through our Potts Point floral store and via our online shop,
                delivering Sydney wide.
            </p>
            <p>
                Sourcing the freshest flowers from our local growers and further afield our experienced, innovative and
                creative team bring their diverse set of skills and experience to each brief, bouquet and occasion.
            </p>
        </div>
    </section>
</div>