<div class="footer">
    <app-contact></app-contact>
    <div class="row more-info">
        <div class="info col-6 col-md-3">
            <h3 class="text-uppercase mb-3">Flowers</h3>
            <ul>
                <li><a href="#">Online Store</a></li>
                <li><a href="#">Wedding</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Corperate</a></li>
            </ul>
        </div>
        <div class="info col-6 col-md-3">
            <h3 class="text-uppercase mb-3">Community</h3>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Partnerships</a></li>
            </ul>
        </div>
        <div class="info col-6 col-md-3">
            <h3 class="text-uppercase mb-3">Information</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Conditions</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="info col-6 col-md-3">
            <h3 class="text-uppercase mb-3">Hours</h3>
            <ul>
                <li><b>Poho Flowers</b></li>
                <li><b>Potts Point</b></li>
                <li>Mon-Sat - 9:00am to 5:00pm</li>
                <li>Sun - 8:30am to 3:30pm</li>
                <br>
                <li><b>Poho Flowers</b></li>
                <li><b>Double Bay</b></li>
                <li>Mon-Sat - 9:00am to 5:00pm</li>
                <li>Sun - 9:00am to 3:30pm</li>
            </ul>
        </div>
        <div class="info col-6 col-sm-4 col-md-4">
            <h3 class="text-uppercase mb-3">Locations</h3>
            <ul>
                <li><b>Poho Flowers Studio - Waterloo</b></li>
                <li><b>(By Appointment Only)</b></li>
                <li>Unit 13, 198-222 Young St</li>
                <li>Waterloo NSW 2017</li>
                <li><a href="#"><b>T</b> 02 9699 9936</a></li>
            </ul>
        </div>
        <div class="info col-6 col-sm-4 col-md-4">
            <h3 class="text-uppercase mb-3">&nbsp;</h3>
            <ul>
                <li><b>Poho Flowers Store - Potts Point</b></li>
                <li>Shop 2, 117 Macleay St</li>
                <li>Potts Point NSW 2011</li>
                <li><a href="#"><b>T</b> 02 9331 4333</a></li>
                <li><a href="#"><b>E</b> enquiries@poho.com.au</a></li>
            </ul>
        </div>
        <div class="info col-6 col-sm-4 col-md-4">
            <h3 class="text-uppercase mb-3">&nbsp;</h3>
            <ul>
                <li><b>Poho Flowers Store - Double Bay</b></li>
                <li>Shop 1, 22-24 Cross St</li>
                <li>Double Bay NSW 2028</li>
                <li><a href="#"><b>T</b> 02 9331 4333</a></li>
                <li><a href="#"><b>E</b> enquiries@poho.com.au</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row mx-0 copyright">
        <div class="col-sm-4 p-0 footer-logo">
            <img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/01_Partner_logo_statement.png?v=1613975912"
                alt="img" />
        </div>
        <div class="col-sm-4 text-center">
            <p>
                © Copyright Poho Flowers 2023. All rights reserved.
                <br><br>
                Poho Flowers acknowledges the The Gadigal People of The Eora Nation, the Traditional Owners of the land
                on which we work and create. We acknowledge and pay respect to their diversity, histories and knowledge
                and their continuing connection to lands, waters and communities. We pay our respects to all Australian
                Indigenous peoples and their cultures, and to Elders of past, present and emerging generations
            </p>
        </div>
        <div class="col-sm-4 payment">
            <img src="https://cdn.shopify.com/s/files/1/0245/2632/3786/files/payment_logos.png" alt="img" />
        </div>
    </div>
</div>